.-fw {
    @extend %width-100-percent;
}

.-fh {
    @extend %height-100-percent;
}

$spaces-abv: (
    // none           : 'n',
    // extra-small    : 'xs',
    small          : 's',
    medium         : 'm',
    large          : 'l',
    'extra-large'  : 'xl',
);

@each $name, $value in $spaces {
    // @debug #{slice($name, 1, 1)};
    $abv: map-get($spaces-abv, $name);

    // Paddings
    .-pa#{$abv} {
        @extend %padding-#{$name};
    }

    // Individual
    .-pt#{$abv} {
        @extend %padding-top-#{$name};
    }
    .-pr#{$abv} {
        @extend %padding-right-#{$name};
    }
    .-pb#{$abv} {
        @extend %padding-bottom-#{$name};
    }
    .-pl#{$abv} {
        @extend %padding-left-#{$name};
    }
    
    // Custom
    .-ph#{$abv} {
        @extend %padding-horizontal-#{$name};
    }
    .-pv#{$abv} {
        @extend %padding-vertical-#{$name};
    }
}