#loader {
  position: absolute;
  /* background-color: black; */
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 10px solid #ccc;
  border-radius: 50%;
  border-top: 10px solid var(--accent-one);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loader-background {
  position: absolute;
  z-index: 1;
  background-color: rgba(0,0,0,0.4);
  min-width: 100vw;
  min-height: 100vh;
}
