// NAVBAR PROFILE

.profile {
  @extend %background-color-second;
  @extend %display-flex;
  @extend %flex-direction-column;
  @extend %align-items-center;
  text-align: center;
  padding: 0 64px;

  @include onMobile() {
    min-height: 90vh;
    width: 100vw;
  }

  .hdr {
    @extend %flex-1;
    @extend %display-flex;
    @extend %flex-direction-column;
    @extend %align-items-center;
    @extend %justify-content-center;

    .subtitle {
      font-size: 10pt;
      color: map-get($colors, "gray-light");
    }

    .name {
      @extend %white-space-nowrap;
      @extend %text-transform-uppercase;
      @extend %font-weight-bold;
      font-size: 24pt;
    }
  }

  .ftr {
    @extend %display-flex;

    .link ~ .link {
      margin-left: 8px;
    }
  }
}
