// NAVBAR PROFILE

.profile {
    @extend %background-color-second;
    @extend %display-flex;
    @extend %flex-direction-column;
    @extend %align-items-center;
    @extend %text-align-center;
    @extend %padding-bottom-small;
    width: 30vw;
  
    @include onMobile() {
        min-height: 85vh;
        width: 100vw;
    }

    .hdr {
        @extend %flex-1;
        @extend %display-flex;
        @extend %flex-direction-column;
        @extend %align-items-center;
        @extend %justify-content-center;

        .subtitle {
            @extend %font-size-14;
            @extend %color-gray-light;
        }

        .name {
            @extend %white-space-nowrap;
            @extend %text-transform-uppercase;
            @extend %font-weight-bold;
            @extend %font-size-29;
        }
    }

    .ftr {
        @extend %display-flex;

        .link {
            img {
                @extend %border-radius-100-percent;
            }

            & ~ .link {
                @extend %margin-left-small;
            }
        }
    }
}
