// TABS STYLING

// @TODO implement this with radio buttons
.tabs-container {
  position: sticky;
  top: 0;
  @extend %background-color-main-fade;

  .tabs {
	display: flex;
	min-height: 42px; // touchable tabs

    .tab {
      flex: 1;
      @extend %display-flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      //   padding-top: 4px;
      font-size: 14px; // @todo: em or rem?
      @extend %color-third;
      position: relative;

      &._act {
        font-weight: bold;
        @extend %background-color-main;

        &::before {
          position: absolute;
          top: 0;
          left: 0;
          content: "";
          width: 100%;
          border-top: 3px solid map-get($colors, "third");
        }
      }
    }
  }
}
