// TABS STYLING

// @TODO implement this with radio buttons
.tabs-container {
  @extend %position-sticky;
  @extend %top-0;
  @extend %background-color-main-fade;

  .tabs {
    @extend %display-flex;
    min-height: 42px; // touchable tabs
    cursor: pointer;

    .tab {
      @extend %flex-1;
      @extend %display-flex;
      @extend %align-items-center;
      @extend %justify-content-center;
      text-transform: uppercase;
      font-size: 14px; // @todo: em or rem?
      @extend %color-third;
      @extend %position-relative;

      &._act,
      &:focus {
		@extend %background-color-main;
		outline: none;
      }

      &._act {
        font-weight: bold;

        &::before {
          @extend %position-absolute;
          @extend %top-0;
          @extend %left-0;
          @extend %content-empty;
          width: 100%;
          border-top: 3px solid map-get($colors, "third");
        }
      }
    }
  }
}
