.profile {
    display: grid;
    justify-items: center;
    
    align-content: center;
    height: 100svh;

    gap: 1rem;

    text-align: center;

    color: white;
}

.image :global {
    object-fit: cover;
    border-radius: 50%;
    display: inline-block;
    
    font-size: 16px;
    height: 12em;
    width: 12em;
    
    background-color: #e2e2e1;

    animation: fadein 1s ease-in;
}

.subtitle :global {
    font-weight: normal;

    animation: slidein 1s ease-in;
}

.name :global {
    font-weight: normal;
    text-transform: uppercase;

    animation: slidein 1s ease-in;
}
/* FOOTER */
.footer {
    display: flex;
    gap: .5rem;
}
.link :global {
    animation: bounce 2s ease 2;
    /* stagger animations */
    animation-delay: calc(var(--delay-multip) * 100ms);
}