%text-align-center {
  text-align: center;
}

%text-transform-uppercase {
  text-transform: uppercase;
}

%font-weight-bold {
  font-weight: bold;
}

%white-space-nowrap {
  white-space: nowrap;
}

@each $size, $value in $fonts {
    %font-size-#{$size} {
        font-size: $value;
    }
}
