#root {
    font-family: 'Dosis', sans-serif;
    height: 100vh;
    @extend %display-flex;

    @include onMobile() {
        flex-wrap: wrap;
    }
}

main {
    @extend %width-100-percent;
    @extend %height-100-percent;
    overflow-y: auto;

    > section {
        min-height: calc(100% - #{$tab-height});
    }
}
