#root {
  // Normalize
  font-family: "Roboto";
  box-sizing: border-box;
  // Pirilimpimpim
  @extend %background-color-second;
  @extend %color-third;
  height: 100vh;
  @extend %display-flex;

  @include onMobile() {
    flex-wrap: wrap;
  }
}

main {
  @extend %background-color-main;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

/* ************** */

/* ME SECTION */

#me .row {
  text-transform: uppercase;
  padding: 10px;
  padding-top: 40vh;
}
