@font-face {
    font-family: VT323;
    src: url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
}

:global body {
    margin: 0;

    font-family: "VT323", monospace;
    /* fallback */
    background-color: black;

    background-image: url(/assets/images/vhs.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none;
        transition: none;
    }

    body {
        background-image: none;
    }
}

@keyframes :global(slidein) {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes :global(fadein) {
    from {
        opacity: 0;
        transform: scale(0.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes :global(bounce) {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}
