// Colors
$colors: (
    'main': #222430,
    'main-fade': #2A2D3C,
    'second': #145629,
    'second-light': #313181,
    'third': #EFF0EB,
    'accent-one': #339933,
    'accent-one-dark': #1F601F,
    'accent-two': #F7E418,
    'accent-two-dark': #9E8C32,
    'gray-light': #BABABA,
);

// Spacings
$base-spacing: 8px;

$spacing-small: $base-spacing;
$spacing-medium: $base-spacing * 2;
$spacing-large: $base-spacing * 3;
$spacing-extra-large: $base-spacing * 4;

$spaces: (
    'small': $spacing-small,
    'medium': $spacing-medium,
    'large': $spacing-large,
    'extra-large': $spacing-extra-large,
);

// Fonts
$font-size-0: 0             !default;
$font-size-12: 0.75rem      !default;
$font-size-14: 0.875rem     !default;
$font-size-16: 1rem         !default;
$font-size-20: 1.25rem      !default;
$font-size-24: 1.5rem       !default;
$font-size-29: 1.8125rem    !default;

$fonts: (
    '0' : $font-size-0,
    '12': $font-size-12,
    '14': $font-size-14,
    '16': $font-size-16,
    '20': $font-size-20,
    '24': $font-size-24,
    '29': $font-size-29,
);
