.container {
  background-color:rgb(158, 200, 33);
  width: 100vw;
  height: 100vh;

  display: flex;
  gap: 1px;
  
}

/* using em's cause i want to */
/* change the dot resolution (size) laterzzz */
.container .dot {
  background-color: black;
  height: 1em;
  width: 1em;

  font-size: 18px;
}
