:root {
	--accent: #00acc1;
	--secondary: #81c784;
	--dark: #222;
	--dark-alpha: rgba(34,34,34,0.6);
	--white-alpha: rgba(255,255,255,0.6);
	--medium-dark: #ccc;
	--plano-fundo: linear-gradient(to right, var(--secondary), var(--accent));
}

body {
	font-family: 'Saira', sans-serif;
  padding-top: 3rem;
	background: url("../image/background.jpg");
	/*background: var(--plano-fundo);*/
}

p,li {
	font-size: 12pt;
}

a {
	color: var(--dark);
}
.fadeInLoad {
	/* slower animations */
	-webkit-animation-duration: 4s;
	-webkit-animation-delay: 0.5s;
}


.impact-phrase{
	font-family: 'Inconsolata', monospace;
	/*color: #fff !important;*/
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
}

.nav-item,.nav-item.active,.nav-link {
  background-color: inherit !important;
	font-weight: bold;
}

.hero {
  padding: 20vh 0;
  height: 100vh;
}

.work {
  background: var(--white-alpha);
  color: var(--dark);
  padding-bottom: 20px;
}

.job{
	color: var(--dark);
	font-family: 'Saira', sans-serif;
	background: snow;
	border-radius: 5px;
	padding: 10px;
	margin-top: 40px;
	box-shadow: 0 4px 8px 0 var(--dark), 0 6px 20px 0 var(--dark);
	position: relative;
}

.jobs-container{
	margin-left: 10%;
}

.academia {
  height: 800px;
}

.personal {
	padding-bottom: 20px;
	background: var(--white-alpha);
}

.contact {
	color: var(--dark);
	padding: 20vh 0;
	height: 800px;
}

.icon-love {
	align: center;
	width: 200px;
	height: 200px;
}
